[submodule "client"]
	path = client
	url = https://github.com/thetechnocrat-dev/client
[submodule "eth"]
	path = eth
	url = https://github.com/thetechnocrat-dev/eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/thetechnocrat-dev/circuits.git
[submodule "packages"]
	path = packages
	url = https://github.com/thetechnocrat-dev/packages
